
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits              {:git/url "https://github.com/bithandshake/cljc-fruits"
                                                :sha     "59968ce34d5d8a7b84855cf13e3da48783c621ef"}
         mt-app-kit/cljc-activity-listener     {:git/url "https://github.com/mt-app-kit/cljc-activity-listener"
                                                :sha     "a94d3c69a2ca3e26969dcf6c9c873d2a15c37227"}
         mt-app-kit/cljc-common-state          {:git/url "https://github.com/mt-app-kit/cljc-common-state"
                                                :sha     "27db9d67b9232a4123c3f1bbd4c40afc8201a07e"}
         mt-app-kit/cljc-multitype-content     {:git/url "https://github.com/mt-app-kit/cljc-multitype-content"
                                                :sha     "35c60529c7b0780ef49f0771006b53a9d8ea1d58"}
         mt-app-kit/cljc-form-validator        {:git/url "https://github.com/mt-app-kit/cljc-form-validator"
                                                :sha     "f482cfe171b9faea6257420fc16f8e1281a3f74e"}
         mt-app-kit/cljs-component-props       {:git/url "https://github.com/mt-app-kit/cljs-component-props"
                                                :sha     "784d185e308c469358c4504427f5dfa4747d4fb4"}
         mt-app-kit/cljs-component-states      {:git/url "https://github.com/mt-app-kit/cljs-component-states"
                                                :sha     "fa6fbf42e9d00cf8d9f39dafe3d8365a16c2ec7f"}
         mt-app-kit/cljs-keypress-handler      {:git/url "https://github.com/mt-app-kit/cljs-keypress-handler"
                                                :sha     "52f2a145f4c362fd9b5989ce053cf450b9e7dfba"}
         mt-app-kit/cljs-countdown-timer       {:git/url "https://github.com/mt-app-kit/cljs-countdown-timer"
                                                :sha     "e2e9794f62be03eb5f481aa8e32caf59f748b0fa"}
         mt-app-kit/cljs-intersection-observer {:git/url "https://github.com/mt-app-kit/cljs-intersection-observer"
                                                :sha     "0f3f453ebda07c53e90318c985ca59d056f46433"}
         mt-app-kit/cljs-react-references      {:git/url "https://github.com/mt-app-kit/cljs-react-references"
                                                :sha     "bb0a270a038fe366a12d0ef72ea575c13df246dc"}
         mt-app-kit/cljs-scroll-lock           {:git/url "https://github.com/mt-app-kit/cljs-scroll-lock"
                                                :sha     "ada2f92c8881f32530bbf64e43865657197784a3"}
         mt-app-kit/cljs-state-synchronizer    {:git/url "https://github.com/mt-app-kit/cljs-state-synchronizer"
                                                :sha     "ab48bf0fd83e6a37b1065403e2f6f9bad510e05a"}
         mt-extensions/reagent-utils           {:git/url "https://github.com/mt-extensions/reagent-utils"
                                                :sha     "0527ffbf5a08305dfd4376a78c007f53c1a311b2"}
         mt-utilities/cljc-time                {:git/url "https://github.com/mt-utilities/cljc-time"
                                                :sha     "29762b2b61b70c04c2cb8aed7ed43fbff052efab"}
         mt-utilities/cljs-dom                 {:git/url "https://github.com/mt-utilities/cljs-dom"
                                                :sha     "dd62c1ff883d2fc3ae1c64928958ebc9e8a1ea8e"}
         mt-utilities/cljs-window              {:git/url "https://github.com/mt-utilities/cljs-window"
                                                :sha     "58119e7ced866d6d2499771c8058bc30e8de2d01"}
         org.clojure/clojurescript             {:mvn/version "1.10.891"}}}
