
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits              {:git/url "https://github.com/bithandshake/cljc-fruits"
                                                :sha     "b1da55fed415edb4febdb44a27ed6ed5d62daca5"}
         mt-app-kit/cljc-activity-listener     {:git/url "https://github.com/mt-app-kit/cljc-activity-listener"
                                                :sha     "6e37af0d748394f75342557caafe7457cbaf0b7a"}
         mt-app-kit/cljc-common-state          {:git/url "https://github.com/mt-app-kit/cljc-common-state"
                                                :sha     "19e8535b8b1924a36c40797aec3c28f9a6c78702"}
         mt-app-kit/cljc-multitype-content     {:git/url "https://github.com/mt-app-kit/cljc-multitype-content"
                                                :sha     "d641db2744ab5932470b8de1078b96ce0f46491e"}
         mt-app-kit/cljc-form-validator        {:git/url "https://github.com/mt-app-kit/cljc-form-validator"
                                                :sha     "fdfbbc494ed032243f880bc699f594ce5b77fa2f"}
         mt-app-kit/cljs-component-props       {:git/url "https://github.com/mt-app-kit/cljs-component-props"
                                                :sha     "65ea0638bb34a76374cb0088f35f191711fd99c2"}
         mt-app-kit/cljs-component-states      {:git/url "https://github.com/mt-app-kit/cljs-component-states"
                                                :sha     "db4df36dbde6a2e08340501ccc3e65354e17894b"}
         mt-app-kit/cljs-keypress-handler      {:git/url "https://github.com/mt-app-kit/cljs-keypress-handler"
                                                :sha     "2be72756a5ac3baa2847e1401fea1f39a53520ac"}
         mt-app-kit/cljs-countdown-timer       {:git/url "https://github.com/mt-app-kit/cljs-countdown-timer"
                                                :sha     "ec16c2c5c667570fca11f1b5163dde4a8bc80077"}
         mt-app-kit/cljs-intersection-observer {:git/url "https://github.com/mt-app-kit/cljs-intersection-observer"
                                                :sha     "3076891254bde8365aff1006dd6604461c9e6bfb"}
         mt-app-kit/cljs-react-references      {:git/url "https://github.com/mt-app-kit/cljs-react-references"
                                                :sha     "bb0a270a038fe366a12d0ef72ea575c13df246dc"}
         mt-app-kit/cljs-scroll-lock           {:git/url "https://github.com/mt-app-kit/cljs-scroll-lock"
                                                :sha     "aca40ed23141516a1ca49af64bb507f88cc9ce7e"}
         mt-app-kit/cljs-state-synchronizer    {:git/url "https://github.com/mt-app-kit/cljs-state-synchronizer"
                                                :sha     "ab48bf0fd83e6a37b1065403e2f6f9bad510e05a"}
         mt-extensions/reagent-utils           {:git/url "https://github.com/mt-extensions/reagent-utils"
                                                :sha     "0527ffbf5a08305dfd4376a78c007f53c1a311b2"}
         mt-utilities/cljc-time                {:git/url "https://github.com/mt-utilities/cljc-time"
                                                :sha     "65d878b8a1dada46beb9bf1926d4c89468c2efa2"}
         mt-utilities/cljs-dom                 {:git/url "https://github.com/mt-utilities/cljs-dom"
                                                :sha     "e64202d5a02fb806db36e7eeb28a774f5928eec7"}
         org.clojure/clojurescript             {:mvn/version "1.10.891"}}}
