
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits              {:git/url "https://github.com/bithandshake/cljc-fruits"
                                                :sha     "d29c314aa255da9ab37db81122072b19ff59027e"}
         mt-app-kit/cljc-activity-listener     {:git/url "https://github.com/mt-app-kit/cljc-activity-listener"
                                                :sha     "5c6ba4deae4ed8c352d7e266b5b095199bb5540b"}
         mt-app-kit/cljc-common-state          {:git/url "https://github.com/mt-app-kit/cljc-common-state"
                                                :sha     "0bcfe521b8d401787aeee7f013b445a61054fcbb"}
         mt-app-kit/cljc-dynamic-props         {:git/url "https://github.com/mt-app-kit/cljc-dynamic-props"
                                                :sha     "0c90be18d403e46fb836279995e787158c6ccc67"}
         mt-app-kit/cljc-multitype-content     {:git/url "https://github.com/mt-app-kit/cljc-multitype-content"
                                                :sha     "6099126cc4b6d710f8e861828a9b85d345a728a6"}
         mt-app-kit/cljc-preset-props          {:git/url "https://github.com/mt-app-kit/cljc-preset-props"
                                                :sha     "10d906188b45c7890e12cba268f0534016616a4b"}
         mt-app-kit/cljs-form-validator        {:git/url "https://github.com/mt-app-kit/cljs-form-validator"
                                                :sha     "fffffffffffffffffffffffffffffffffffffff"}
         mt-app-kit/cljs-keypress-handler      {:git/url "https://github.com/mt-app-kit/cljs-keypress-handler"
                                                :sha     "5032759659174fdd6727ac0c991aae30b334f548"}
         mt-app-kit/cljs-countdown-timer       {:git/url "https://github.com/mt-app-kit/cljs-countdown-timer"
                                                :sha     "1e0b769b1bc3452779488bbcc89761f7d5a99441"}
         mt-app-kit/cljs-intersection-observer {:git/url "https://github.com/mt-app-kit/cljs-intersection-observer"
                                                :sha     "0d265435a8c2bcfd847ab6c6ae5e1fe391c6d9f6"}
         mt-app-kit/cljs-react-references      {:git/url "https://github.com/mt-app-kit/cljs-react-references"
                                                :sha     "jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj"}
         mt-app-kit/cljs-scroll-lock           {:git/url "https://github.com/mt-app-kit/cljs-scroll-lock"
                                                :sha     "0336aff4a0bc84cd890b1b52ec712489cecbb539"}
         mt-app-kit/cljs-state-synchronizer    {:git/url "https://github.com/mt-app-kit/cljs-state-synchronizer"
                                                :sha     "llllllllllllllllllllllllllllllllllllllll"}
         mt-extensions/reagent-utils           {:git/url "https://github.com/mt-extensions/reagent-utils"
                                                :sha     "mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm"}
         mt-utilities/cljc-time                {:git/url "https://github.com/mt-utilities/cljc-time"
                                                :sha     "13c937dbbbf946bddba03dbd48f182536d915dd4"}
         mt-utilities/cljs-dom                 {:git/url "https://github.com/mt-utilities/cljs-dom"
                                                :sha     "d1246ec0819821934e8460b20c0e8d7ff012fb0d"}
         mt-utilities/cljs-window              {:git/url "https://github.com/mt-utilities/cljs-window"
                                                :sha     "5d56070dae464c895166240f331bdb408de03d7c"}
         org.clojure/clojurescript             {:mvn/version "1.10.891"}}}
